<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="transparent-header" >
  
   
        <br>
        <br>
        <br>
        <br>
      <form [formGroup]="userForm" (ngSubmit)="onCreate()">
          <ion-list >
        <ion-item style="background-color: transparent">
            
            <ion-input type="text" formControlName="nome"  placeholder="Nome"></ion-input>
          </ion-item>
          <ion-item style="background-color: transparent">
              
              <ion-input type="text" formControlName="sobrenome" placeholder="Como gostaria de ser chamado?"></ion-input>
            </ion-item>
          <ion-item style="background-color: transparent">
            
            <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
          </ion-item>
        
          <ion-item style="background-color: transparent">
       
            <ion-input type="password" formControlName="senha" placeholder="Senha"></ion-input>
          </ion-item>
          <br>
          <br>
          <button ion-button  full style=" background-color: #4d1f5f;" type="submit" [disabled]="userForm.invalid" >Cadastrar</button>
          <br>
          
        </ion-list>
      </form>
        
</ion-content>