<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <img class="logo" src="assets/imgs/logo1.png" />
  <img class="logo" src="assets/imgs/logo2.png" />
  <div padding>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-list>
            <ion-item class="input-login">
              <ion-label>
                <ion-icon name="person-add" item-left color="redd"></ion-icon>
              </ion-label>
              <ion-input type="text" [(ngModel)]="loginForm.email" placeholder="Insira seu email" formControlName="email"></ion-input>
            </ion-item>
      
            <ion-item class="input-login">
              <ion-label>
                <ion-icon name="lock" item-left></ion-icon>
              </ion-label>
              <ion-input [type]="getType()" [(ngModel)]="loginForm.password" placeholder="Insira seu password" formControlName="password"></ion-input>
              
              <ion-icon name="eye" item-right (click)="toggleTextPassword()"></ion-icon>
              
            </ion-item>
            
            <button ion-button block outline type="submit" [disabled]="loginForm.invalid" color="light" class="login-button">Entrar</button>
            
            
            <div align="center" (click)="reset()">
              Esqueceu sua senha? <span class="destacar">Clique aqui</span>
            </div>
            
              <button ion-button block clear (click)="login()" color="light" class="login-button"><ion-icon name="logo-facebook"></ion-icon> Login com Facebook</button>
            
          </ion-list>
        </form>
  </div>
  
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="goToSignup()">
      <span>Não possui conta? <strong>Clique aqui</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>
