<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Início </ion-title>
    <ion-buttons start left>
      <button ion-button icon-only menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <h2>Bem vindo!</h2>
  <p>
    
  </p>
  <p>
    
  </p>
  
</ion-content>
