<!--
  Generated template for the SlidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  

</ion-header>


<ion-content >
  <ion-slides pager>
    
      <ion-slide style="background-image: url('assets/imgs/s2.png')">
        <div col-12 align="center">
            
          <div  col-4 style="width: 40%;
        max-width: 40%;">
          <img src="assets/imgs/logo4.png" alt="Bloculos" class="img-responsive" >
        </div>
        </div>
        
        <br>
        
        
                
        <h6 style="color:#ff21ff;">O aplicativo tem como umas das referências teóricas o livro Poder e Força - os determinantes
          
          ocultos do comportamento humano. </h6>
      
        <br>
        
        <div col-12 align="center">
        <div style="width: 80%;
        max-width: 80%;">
          <img src="assets/imgs/blocus2.png" alt="Bloculos" class="img-responsive">
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
          <button ion-button  color="light" style="width: 45%;
          max-width: 40%;" (click)="cadastrar()">Criar Conta</button>
        
          <button ion-button   style="width: 45%;
          max-width: 40%; background-color: #ff21ff;" (click)="entrar()">Entrar</button>
        
      </ion-slide>
    
      <ion-slide style="background-image: url('assets/imgs/s1.png')">
          <div col-12 align="center">
              
            <div  col-4 style="width: 40%;
          max-width: 40%;">
            <img src="assets/imgs/logo4.png" alt="Bloculos" class="img-responsive" >
          </div>
        </div>
        
        <br>
        
        
                
        <h6 style="color:#ff21ff;">Técnicas desenvolvidas pelo médico psiquiatra americano, Dr. David
          Hawkins (1927-2012). </h6>
        
        <br>
        
        <div col-12 align="center">
          <div style="width: 80%;
          max-width: 80%;">
            <img src="assets/imgs/blocus2.png" alt="Bloculos" class="img-responsive">
          </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
            <button ion-button  color="light" style="width: 45%;
            max-width: 40%;" (click)="cadastrar()">Criar Conta</button>
          
            <button ion-button   style="width: 45%;
            max-width: 40%; background-color: #ff21ff;" (click)="entrar()">Entrar</button>
      </ion-slide>
    
      
    
    </ion-slides>
</ion-content>
