<ion-menu side="left"  id="myMenu" [content]="content" type="overlay">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
            
        <ion-list>
            <ion-item>
                <ion-avatar col-3>                                                   
                    
                </ion-avatar>
                <p>De Bem Com a Mente</p>
            </ion-item>

            <button ion-item icon-only *ngFor="let p of pages" (click)="openPage(p)" menuClose>
                      {{p.title}}
                </button>
               
                <button ion-item icon-only (click)="logout()">Sair</button>
                
        </ion-list>
    </ion-content>
    
</ion-menu>


<ion-nav #content [root]="rootPage"></ion-nav>