<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Técnicas evolutivas
    </ion-title>
    <ion-buttons start left>
      <button ion-button icon-only menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>

</ion-content>
